*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* Para limpiar el formato por defecto de los navegadores */
}
:root{
    --color-primary: #ffcc00;
    --color-dark: #333;
    --color-light: #f4f4f4;
}
body{
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: var(--color-light); */
    background-image: url('https://4kwallpapers.com/images/wallpapers/pokeball-pikachu-3840x2160-20912.png');
    background-size: cover; /* Ajusta la imagen al tamaño de la pantalla */
    background-repeat: no-repeat; /* No repite la imagen */
    background-attachment: fixed; /* Mantiene la imagen fija al hacer scroll */
    background-position: center; /* Centra la imagen */
    
}
.enfo{
    display: flex;
    justify-content: center;
}
.main-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-cont2{
    height: 93vh;
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: center;
    align-content: center;
    gap: 20px;
}
.card{
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    /* margin: 15px; */
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.17);
}
.card figure{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-img{
    height: 128px;
}
.card a:hover{
    background-color:#e6b800;
}
.card a{
    color: black;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--color-primary);
    margin-top: 15px;
}